<!DOCTYPE html>
  <!-- html入れる -->

      <head>
        <title>タイムライン</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/newshow.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- これはなんだ -->
        <script defer src="../static/ahowComments.js"></script>
  
       
  
      </head>
  
  
  
      <body>
      
  
         <nav class="navbar navbar-expand-lg navbar-light bg-light ">
            <!-- ブランドロゴ -->
            <div class="container-fluid">
               <span class="navbar-brand mb-0 h1" href="question.ejs" >PRODUCTNAME</span>
               <p><%= locals.username %>さん</p>
                 <!-- アイコン部分（入ってないけど） -->
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
          
                  <!--ハンバーガーメニュー  -->
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                     <div class="navbar-nav ms-auto">
                       <a class="nav-link active" aria-current="page" href="question.ejs">Home</a>
                       <a class="nav-link" href="question.ejs">問題画面</a>
                       <a class="nav-link" href="show.ejs">投稿一覧</a>
                      </div>
                   </diV>
       
            </div>
         </nav>
    

         <!-- 空白部分 -->
         <div class="p-5 bg-white text-white text-center">
         </div>
    
         <!-- りつ：消したんですが、あったほうがいい？？　もし必要だったら復活させてください！ -->
         <!-- <div class="new-botton">
           <a href="/new" class="">新規作成</a>
         </div> -->
    

         <!-- 上３分の1にある「問題画面」「タイムライン」のバー： "nav nav-tabs justify-content-center" "nav-item" "nav-link active"消さないでください！-->
        <ul class="nav nav-tabs justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../問題/index.html">リアルタイム</a>
          </li>

         
        </ul>


         <!-- りつ：ejs特有の書き方の部分削除して作りました！（コメアウトしてもerror出るため）自分のローカルにのこしてます！もし手元に＜%みたいなコード消えてたら？おっしゃってください！-->
          <ul class="table-body">
             <li style="list-style: none;">
                <div class="table">
                 <div class="question"><h2>問題文</h2></div>
           


                <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <!-- <th scope="row">ユーザー名</th> -->
                        <th scope="row">問題番号</th>
                        <th scope="row">画面共有URL</th>
                       </tr>
                    </thead>

                    <tbody>
                      <% LivepostsResult.forEach((item) => { %>
                        <tr>
                          <!-- <th scope="col">新着順？</th> -->
                           <th scope="col"><%= item.question_id %></th>
                           <td scope="col"><%= item.shareurl %></td>
                         </tr>
                     <% }) %>
                       <tr>
                         <th scope="row">1</th>
                         <td>Mark</td>
                         <td>変数の部分。</td> 
                        </tr>
  
                         <tr>
                           <th scope="row">2</th>
                           <td>Jacob</td>
                           <td>あああああああ</td>
                         </tr>
    
                          <tr>
                            <th scope="row">3</th>
                             <!-- <td colspan="6">Larry the Bird</td> -->
                              <td>Ritu</td>
                              <td>いいいいいいい</td>
                            </tr>
                      </tbody>
                   </table>



                     <!-- <input type="submit" value="書き込む" class="btn btn-secondary"></input>
                     <input type="submit" value="書き込み削除？（いらなかったら消してください）" class="btn btn-secondary"></input> -->
               </div>
             </li>
           </ul>

      
      



         <!-- 下の過去の投稿部分 -->
          <div class="p-4 bg-white text-white text-center">
            </div>


         <!-- 上３分の1にある「問題画面」「タイムライン」のバー： "nav nav-tabs justify-content-center" "nav-item" "nav-link active"消さないでください！-->
         <ul class="nav nav-tabs justify-content-center">
             <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../問題/index.html">過去の投稿一覧</a>
          </li>
        </ul>

        <!-- りつ：ejs特有の書き方の部分削除して作りました！（コメアウトしてもerror出るため）自分のローカルにのこしてます！もし手元に＜%みたいなコード消えてたら？おっしゃってください！-->
         <ul class="table-body">

      <li style="list-style: none;">
         <div class="table">
           <div class="question"><h2>問題文</h2></div>
           

           <ul class="table-body">
            <li style="list-style: none;">
               <div class="table">
                <div class="question"><h2>問題文</h2></div>
          


               <table class="table table-striped table-hover">
                   <thead>
                     <tr>
                       <!-- <th scope="row">ユーザー名</th> -->
                       <th scope="row">音声認識</th>
                       <th scope="row">コード</th>
                      </tr>
                      <th scope="row">ノート</th>
                      </tr>
                   </thead>

                   <tbody>
                     <% LivepostsResult.forEach((item) => { %>
                       <tr>
                         <!-- <th scope="col">新着順？</th> -->
                          <th scope="col"><%= item.question_id %></th>
                          <td scope="col"><%= item.shareurl %></td>
                        </tr>
                    <% }) %>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>変数の部分。</td> 
                       </tr>
 
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>あああああああ</td>
                        </tr>
   
                         <tr>
                           <th scope="row">3</th>
                            <!-- <td colspan="6">Larry the Bird</td> -->
                             <td>Ritu</td>
                             <td>いいいいいいい</td>
                           </tr>
                     </tbody>
                  </table>


<!-- 
           <input type="submit" value="書き込む" class="btn btn-secondary"></input>
           <input type="submit" value="書き込み削除？（いらなかったら消してください）" class="btn btn-secondary"></input> -->
         </div>
       </li>
    </ul>
 
    </div>
  
  
    
  
    </body>
  </html>
  

